/*primera-seccion*/

*{
	color: white;
	width: 100%;

}

body{
	background: linear-gradient(to bottom, #407339, #7e3b20);
	background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
}


#idioma{
	font-size: 11px;
	font-weight: bold;
	margin-top: 3%;

}

#instagram{
	font-family: 'Mogra', cursive;
	margin-top: 20%;
	font-size: 30px;
	
}

/*segunda-seccion*/

#usuario{
	margin-top: 5%;
	background-color:#dbdbdb;
	border: 0;
	padding-left: 5%;
	padding-top: 5%;
}

#contraseña{
	margin-top: 4%;
	background-color:#dbdbdb;
	border: 0;
	padding-left: 30%;
	padding-top: 5%;
}

#iniciar{
	margin-top: 2%;
	text-align: center;

}

.btn-default{
	margin-top: 4%;
	background-color: transparent;
	width: 40%;
	color: white;
	font-weight: bold;
	padding: 2%;
}

p{
	margin-top: 6%;
	text-align: center;
}


/*footer*/

i{
	position: relative;
	left: 1%;
	top: 23px;
}

span{
	top: 60px;
	font-weight: bold;
	text-align: center;
	position: relative;
	left:1%;
}

hr{
	position: relative;
	top: 110px;
}

h5{
	margin-top: 30%;
	text-align: center;
}



